@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin:0rem;
}
hr{
   margin: 2rem;
}
:root{
    --primary-colors:#6EE7B7;
    --dark-gray:#6B7280;
    --off-white:#F3F4F6
}

/* containers */

.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.link-primary{
    background-color: var(--primary-colors);
    color: white;
}
.link-secondary{
    color:var(--primary-colors);
    border: 1px solid var(--primary-colors);
}

/* lists */
.list-no-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Nav Bar */

.navigation{
    background-color: var(--primary-colors);
    border-bottom-left-radius: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}
.navigation .nav-brand{
    font-size: 1rem;
    font-weight: 700;
    /* padding-left: 1rem; */
}
 .navigation .link-active{
    font-weight: bold;
} 

.navigation .link{
    color: white;
}
.navigation .nav-pills{
    text-align: right;
}

/* header */

.hero{
    padding: 2rem;
}
.hero .hero-img{
     max-width: 350px;
     display: block;
     margin: auto;
}
.hero .hero-header{
    text-align: center;
    color: var(--dark-gray);
    padding-top: 1rem;
}

/* section */

.section h3{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}
.section{
    padding: 1rem;
}

/* footer */

.footer{
    text-align: center;
    background-color: var(--primary-colors);
    color: white;
    border-top-right-radius: 1rem;
    padding: 2rem 1rem;
}
.footer .link{
    color: white;
}
.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}